<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/340126f5-0570-430c-9087-61c33ddab0fc/resourcegroups/Lullo/providers/Microsoft.Web/sites/Lullo</ResourceId>
    <ResourceGroup>Lullo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lullo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lullo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Lullo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Lullo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EatAtHomeContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User ID=LulloAdmin@lullodbserver;Password=-Packard-007" Name="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lullo.Models.EatAtHomeContext, Lullo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GroceriesContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User ID=LulloAdmin@lullodbserver;Password=-Packard-007" Name="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lullo.Models.GroceriesContext, Lullo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RecipeContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User ID=LulloAdmin@lullodbserver;Password=-Packard-007" Name="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lullo.Models.RecipeContext, Lullo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RecipiesContext" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User ID=LulloAdmin@lullodbserver;Password=-Packard-007" Name="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lullo.Models.RecipiesContext, Lullo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UserContext" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User ID=LulloAdmin@lullodbserver;Password=-Packard-007" Name="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lullo.Models.UserContext, Lullo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UsersContext" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User ID=LulloAdmin@lullodbserver;Password=-Packard-007" Name="Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|UsersContext-20181031135921.mdf;Initial Catalog=UsersContext-20181031135921;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UsersContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=UsersContext-20181031135921; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|UsersContext-20181031135921.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UsersContext-Web.config Connection String">
      <ParameterValue>data source=tcp:lullodbserver.database.windows.net,1433;initial catalog=Database;user id=LulloAdmin@lullodbserver;password=-Packard-007;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="RecipiesContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="RecipeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GroceriesContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EatAtHomeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lullodbserver.database.windows.net,1433;Initial Catalog=Database;User Id=LulloAdmin@lullodbserver;Password=-Packard-007</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>