@{
                /**/

                ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h2>Doel van de Applicaite</h2>
        <p> Het doel van de applicatie is om een portaal te zijn voor studentenhuizen. De Bedoeling is dat elk studentenhuis hier een account op kan maken. Op deze applicatie kunnen ze Recepten met elkaar delen en invullen.
            Verder is er een bootschappenlijst waar elke huisgenoot bootschappen kan toevoegen die gehaald moeten worden voor het hele huis.</p>
    </div>
    <div class="col-md-6">
        <h2>Inlog gegevens</h2>
        <ul>
            <p>Login gegevens voor de admin</p>
            <li>Email: admin@test.nl</li>
            <li>Ps: test1234</li>
            <br />
            <p>Login voor een normale gebruiker</p>
            <li>Email: user@test.nl</li>
            <li>Ps: test1234</li>
        </ul>
    </div>
  
</div>


